@{
    ViewBag.Title = "Contact0";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Rolando Cales<br />
     WA 4611176923<br />
    <abbr title="Phone">P:</abbr>
    6176923
</address>

<address>
    <strong>Suporte:</strong>   <a href="cecy@hotmail.com">cecy@hotmail.com</a><br />
   @* <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>